//Importamos la carpeta variable
@use 'base/variables' as v;
.header {
    padding: 5rem 0;
    position: relative;

    &::before{
        content: "";
        background-color: v.$negro;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.5;
    }
    .contenido-header{
        //Para que esta etiqueta este arriba del before, y poder seleccionar los enlaces.
        position: relative;
    }
}
//Header ce cada página
.header-inicio{
    background-image: url(../img/header_inicio.jpg);
}